# Example pagekite frontend setup.
#
# In order to run a pagekite frontend the machine has to have 
# a direct internet access. 
isfrontend


# The protocols this frontend should support. raw can be used for ssh tunneling.
protos=http,https,raw

# Specify on which ports we answer clients 
# (webbrowsers, ssh clients etc) and answer backend clients (pagekites)
# If you want to run a webserver on the same machine as the pagekite 
# frontend, you will have to move it to another port. 
# If you still want to serve webpages from this machine, you can just set up a
# backend as well that tunnels to it.
ports=443,80

# The rawports we support. Note that if you plan to offer ssh 
# frontend service, you cant also run a sshd on the same port. 
rawports=22


# Specify which service you will provide for each domain/backend. 
# You can use wildcards in the hostname 
# Skip this line if the domain defines a loopback front/back connection
domain=http,raw:YOU.myownfrontend.com:SharedSecret
