# PageKite config
###############################################################################

# Daemon config
logfile=/var/log/pagekite/pagekite.log
runas=daemon:daemon
daemonize

# Use the pageKite.net service by default
frontends=1:frontends.b5p.us:443
dyndns=pagekite.net

# Enable TLS encryption for your tunnel, comment out for a plaintext tunnel
fe_certname=frontends.b5p.us

# If you don't have a certificate for the StartCom CA on your system 
# then uncomment the following line.
# ca_cert=/etc/pagekite/pagekite.net.ca_cert

# Local defintions are found in the local.rc
# This includes your backend defintions and the local http ui settings
optfile=/etc/pagekite/local.rc
