# PageKite config
###############################################################################

# Daemon config
logfile=/var/log/pagekite/pagekite.log
runas=daemon:daemon
daemonize

# Enable the HTTP UI, with a very ugly password.
httpd=localhost:9999
httppass=Secret

# Use the pageKite.net service by default
frontends=1:frontends.b5p.us:443
dyndns=pagekite.net

# Enable TLS encryption for your tunnel, comment out for a plaintext tunnel
fe_certname=frontends.b5p.us

# If you don't have a certificate for the StarCom CA on your system 
# then uncomment the following line.
# ca_cert=/etc/pagekite/pagekite.ca-cert


###############################################################################
# Back-end definitions follow.
#
# The first line shows how to define a basic HTTP pagekite backend.
# If you have a TLS-enabled web-server as well, commenting out the second
# line will probably suffice to enable the pageKite for it too.
# The third line shows how to define a raw port backend. This example tunnels
# SSH over pagekite. You will need to use a ssh client that supports HTTP 
# proxy connect.
#
# You can have multiple backends for the same protocol as long as they 
# have different pagekite names.
#
# See http://pagekite.net/docs/pkPy for more information on defining backends
# and how to use raw ports.
#
#backend=http:YOU.pagekite.me:localhost:80:SharedSecret
#backend=https:YOU.pagekite.me:localhost:443:SharedSecret
#backend=raw/22:YOU.pagekite.me:localhost:22:SharedSecret

END
